.module-award {
    margin-top: -80px;
}

.module-award .container {
    padding-bottom: 170px;
}

.module-award .container .image {
    margin: -130px auto 0;
    display: block;
}

.module-award .container .description {
    margin-top: 50px;
    color: #FFF;
    font-size: 1.5em;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
    text-align: center;
}