.module-ceo-msg .container {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.module-ceo-msg .photo {
    float: right;
}

.module-ceo-msg .phrase {
    padding: 30px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    border-radius: 5px;
    position: relative;
}

.module-ceo-msg .arrow {
    position: absolute;
    top: 40px;
    left: -17px;
}

.module-ceo-msg .msg {
    font-family: 'Open sans', sans-serif;
    color: #666;
    font-size: 0.92em;
    margin-bottom: 20px;
}


.module-ceo-msg .author .name {
    color: #000;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-right: 5px;
}

.module-ceo-msg .author .position {
    font-size: 0.85em;
    font-weight: 300;
    color: #b2b2b2;
    text-transform: uppercase;
}