.module-features {

}

.module-features .col-md-12 {
    text-align: center;
}

.module-features .image {
    margin: 0;
    margin-bottom: 60px;
    margin-top: -75px;
    width: 100%;
    max-width: 949px;
}

.module-features .features {
    border-top: 1px solid #e6e6e6;
    padding: 60px 0;
}

.module-features .title,
.module-features .description {
    text-align: center;
}

.module-features .title {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.57em;
    margin-bottom: 35px;
}


.module-features .description {
    color: #8a9199;
    font-size: 1em;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 0;
}