.menu-mobile {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #fff;
    z-index: 9999;
    padding: 40px 25px;
    display: none;
}

.menu-mobile .area-admin {
    width: 100%;
    font-size: 1.07em;
    border-radius: 2px;
    padding: 12px 0;
    color: #FFF;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    display: block;
    letter-spacing: 0.05em;
}

.menu-mobile .area-admin:hover {
    text-decoration: none;
}

.menu-mobile .title {
    font-size: 0.72em;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #afb7c1;
    font-weight: normal;
    display: block;
}

/* Languages */
.menu-mobile .languages {
    margin-top: 10%;
    margin-bottom: 10%;
}

.menu-mobile .languages .nav .btn {
    width: 50%;
    background: #fff;
    color: #666;
    border: 1px solid #e1e8ef;
    border-radius: 0;
    font-size: 1.07em;
    font-weight: normal;
}

.menu-mobile .languages .nav .btn.active {
    background-color: #00acd4;
    border-color: #00acd4;
    color: #fff;
    box-shadow: none;
}

/* Menu Suporte */
.menu-mobile .support .link {
    display: block;
    color: #666;
    padding: 10px 0;
    font-size: 1em;
    letter-spacing: 1px;
}

.menu-mobile .support .link [class^="icon-"] {
    float: right;
    color: #545454;
}

/* Suporte por tel */
.menu-mobile .support-tel {
    margin-top: 10%;
}

.menu-mobile .support-tel .content {
    float: left;
}

.menu-mobile .support-tel .tel {
    font-size: 1.07em;
    color: #8a9199;
    font-weight: normal;
    line-height: 1;
}

.menu-mobile .support-tel a {
    float: right;
}

.menu-mobile .icon-call-phone {
    float: right;
    border: 1px solid #e1e7ef;
    padding: 8px 8px 5px;
    font-size: 2em;
    line-height: 1;
    margin-top: 5px;
    border-radius: 2px;
}